@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Jua&family=Poppins:wght@400;500&display=swap");
body {
    font-family: "Nanum Gothic", sans-serif;
}

.row {
    padding: 30px 15% 10px 15%;
    vertical-align: top;
}

.result-card,
.apply-result-card {
    padding: 0px 15% 10px 15%;
}

.navbar {
    background-color: #282a36;
    z-index: 2000;
}

.btn {
    margin: -5px 0 0 0;
}
